$c-black: #000;
$c-white: #fff;

$c-blue-alpha: #0E232D;
$c-blue-beta: #002b41;

$c-gold-alpha: #e6a500;
$c-gold-beta: #fff1cd;
$c-gold-gamma: #ffdc83;

$c-gray-alpha: #c0c4c6;
$c-gray-beta: #808b91;
$c-gray-gamma: #4a5a62;
$c-gray-delta: #f5f5f5;
