$c-black: #313036;
$c-white: #fff;

$c-blue-alpha: #313036;

$c-gold-alpha: #c8a151;
$c-gold-beta: #8d713e;

$c-gray-alpha: #c0c4c6;
$c-gray-beta: #808b91;
$c-gray-gamma: #4a5a62;
$c-gray-delta: #f5f5f5;
