@import 'color';

.label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	color: $c-blue-alpha;
	line-height: 1.5;
	margin: 0 0 2px;
}

.field {
	position: relative;
	width: 15em;
  margin-bottom: 1em;

  &::after {
  	border: solid $c-blue-alpha;
  	border-width: 0 1px 1px 0;
  	content: '';
  	display: inline-block;
  	height: 8px;
  	margin-top: 3px;
  	padding: 0;
  	pointer-events: none;
  	position: absolute;
  	right: 15px;
  	top: 50%;
  	transform: rotate(45deg);
  	width: 8px;
  }

  &:focus-within::after {
    margin-top: 7px;
    transform: rotate(-135deg);
  }
}

.select {
	appearance: none;
	background: none;
	border: none;
	font-size: 1rem;
	line-height: 1.5;
	padding: 5px;
	border: solid 1px $c-blue-alpha;
	border-radius: 2px;
	width: 15em;
}

.btn {
	display: inline-block;
  font-family: 'Montserrat', serif;
  vertical-align: top;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  border: 0;
  padding: 0.9375rem 1.25rem;
  text-decoration: none;
  transition: background 300ms,color 300ms;
  text-transform: uppercase;
  font-weight: bold;
}

.btn--primary {
  background: $c-gold-alpha;
  color: $c-black;
  margin-bottom: 2rem;

  &:focus,
  &:hover {
    background: $c-gold-beta;
    color: $c-white;
    text-shadow: none;
  }
}

.btn--secondary {
  background: $c-blue-alpha;
  color: $c-white;
  transition: border 300ms;
  border: 1px solid transparent;

  &:focus,
  &:hover {
    background: $c-white;
    color: $c-blue-alpha;
    border-color: $c-blue-alpha;
  }
}
